/* start - remove styling for no css / javascript */
hr {
    display: none;
}

/* end - remove styling for no css / javascript */


/* start - remove pre-designed margins for most container based elements*/
body,
header,
main,
footer,
section,
article,
aside,
nav,
div{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
/* end - remove pre-designed margins for most container based elements */

/* start - make the document take up the entire screen size */
html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    background-color: var(--color-light);
    color: var(--color-dark);
}


header,
main,
footer {
    align-items: center;
}

*.content {
    width: var(--screen-max-width);
}


main {
    flex: 1;
}

header,
footer {
    background-color: var(--color-dark);
    color: var(--color-light);
}

/* end - make the document take up the entire screen size */

/* start - global styles */

:root {
    --color-highlight: #292;
    --color-dark: #222;
    --color-light: #eee;
    --color-white: white;
    --color-black: black;
    --color-grey: #ccc;
    --screen-max-width: 1440px;
}

/* end - global styles */




/* start - global components styling */

header > .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
}

header .links,
footer .links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

header .links li,
footer .links li {
    padding: 8px 8px;
}

header > .content > *,
footer > .content > * {
    width: 100%;
}

footer .legal {
    align-items: center;
}

header > .social > .links {
    justify-content: end;
}

a {
    color: var(--color-light);
    text-decoration: none;
}

a:hover {
    color: var(--color-highlight);
    text-decoration: underline;
}

button {
    background-color: var(--color-dark);
    color: var(--color-light);
    border: none;
    border-radius: 8px;
    height: 32px;
    width: 256px;
}

button:hover {
    background-color: var(--color-highlight);
    color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-highlight);
}

/* home page - specific */
section {
    /* min-height: 50vh; */
}


.skills {
    flex-direction: row;
    justify-content: center;
}

.card {
    background-color: var(--color-white);
    border-radius: 16px;
    margin: 16px;
    padding: 16px;
    box-sizing: border-box;
    min-width: 256px;
    max-height: 256px;
    filter: drop-shadow(0px 8px 8px var(--color-grey));
}